body {
  background-color:#A5D6A7;
}

h1 {
  text-align: center;
  font-size: 80px;
  color: #F44336;
  font-family: 'Catamaran', sans-serif;
    text-shadow: 3px 3px 3px white;
  
}

p {
  font-size: 50px;
  text-align: center;
  color: #8E24AA;
  font-family: 'Berkshire Swash', cursive;
  text-shadow: 3px 3px 3px red;
}
a {
 text-decoration: none;
  font-family: 'Catamaran', sans-serif;
  font-size: 30px;
  margin-left:23px;
  
}

